/* // fonts to use 
font-family: 'Luckiest Guy', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Bevan', cursive; */
body {
  margin: auto;
  max-width: 600px;
}
header {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 8em;
}
