/* // FONTS USED
font-family: 'Luckiest Guy', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Bevan', cursive; 
font-family: 'Kanit', sans-serif;
*/

/* COLORS USED 
color: #5cbdbb;
color: #5cbd8b; 
background-color: #def1e7;
background-color: #def1f1;
color: #ecb814; yellor for about me section
background-color: #D3D3D3; about me section
*/

body {
  margin: auto;
  max-width: 750px;
  background-color: #def1f1;
}
header {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 9em;
  color: #5cbdbb;
  padding-top: 10%;
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 13%;
}
.navigation {
  padding: 3%;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 25px;
  border: 2px solid black;
  opacity: 0.7;
  position: sticky;
  top: 0;
  /* width: 50%; */
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #5cbdbb;
}
.inputsection {
  padding: 3%;
  text-align: center;
  font-size: 10px;
}
.resultindex {
  text-align: center;
  font-family: "Kanit", sans-serif;
}

h1 {
  font-size: 14px;
}
h2 {
  font-size: 12px;
}
h3 {
  font-size: 12px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
.newdiv {
  padding-bottom: 5%;
}
p {
  font-family: "Catamaran", sans-serif;
  color: rgb(3, 145, 136);
  font-size: 18px;
}
